/* Login/Registration page */

.authPage {
  background: #f0f2f5;
  /* background: url('/images/background.jpg') repeat; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* -webkit-animation: animate 40s linear infinite;
  -moz-animation: animate 40s linear infinite;
  -ms-animation: animate 40s linear infinite;
  -o-animation: animate 40s linear infinite;
  animation: animate 40s linear infinite; */
}

.paper {
  padding: 30px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  padding: 2.1875rem 2.8125rem;
  max-width: 550px;
  width: 100%;
}

.paper__content {
  width: 80%;
  margin: 0 auto;
}

.form {
  margin-top: 30px;
}

.login-form-button {
  width: 100%;
}

.returnPasswordLink {
  margin-top: 15px;
  display: inline-block;
}

@-webkit-keyframes animate {
  from {
    background-position: 1000px 100%, 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@-moz-keyframes animate {
  from {
    background-position: 1000px 100%, 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@-ms-keyframes animate {
  from {
    background-position: 1000px 100%, 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@-o-keyframes animate {
  from {
    background-position: 1000px 100%, 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@keyframes animate {
  from {
    background-position: 1000px 100%, 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@media screen and (max-width: 720px) {
  .paper__content {
    width: 95%;
  }
  .logotype {
    /* max-width: 50% !important; */
    justify-content: center !important;
  }
  .logotype .logotype__image {
    margin-right: 20px;
  }
}
